PLATFORM_COMPOSE_ROOT={{ platform_compose_root }}
PLATFORM_CONFIG_ROOT={{ platform_config_root }}
PLATFORM_DATA_ROOT={{ platform_data_root }}
PLATFORM_BACKUP_ROOT={{ platform_backup_root }}
PLATFORM_MEDIA_ROOT={{ platform_media_root }}
PLATFORM_UPLOAD_ROOT={{ platform_upload_root }}
PLATFORM_SECRETS_ROOT={{ platform_secrets_root }}
